* {
  box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, Helvetica,
	sans-serif;
	font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color:#F4F4F4;
	height: 100%;
	margin: 0;
}
body a{
	color: rgb(56, 56, 56);
}

span {
	padding-right: 15px;
	padding-left: 15px;
}

.container {
	display: flex;
  	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.btnIniciar{
	background-color: rgb(218, 218, 218);
	color: rgb(56, 56, 56);
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}
.btnIniciar:hover{
	background-color: rgb(230, 230, 230);
}
	
.chat {
	display: flex;
	height: 300px;
	width: 50vw;
	flex-direction: column;
  	justify-content: center;
	align-items: center;
} 
::-webkit-input-placeholder { 
	color: .711 
}
 
input { 
	display: none;
	border: 0; 
	padding: 15px; 
	margin-left: auto;
	border-radius: 10px; 
	background-color: #F4F4F4;
	border: 1px solid #d6d6d6;
	
}

.messages {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	height: 90%;
	width: 100%;
	background-color: #F4F4F4;
	padding: 15px;
	margin: 15px;
	border: 1px solid #d6d6d6;
	overflow-x: hidden;
	overflow-y: auto;

}

#bot {
	margin-left: auto;
}
#logo {
	position: relative;
	top:-25px
}

.avatar {
	height: 25px;
}

.response {
	display: flex;
	align-items: center;
	margin: 1%;
}

#voiceRec{
	display: none;
	top:15px;
	position: relative;
	cursor: pointer;
}



@media only screen and (max-width: 980px) {
	.container {
		  flex-direction: column; 
		  justify-content: flex-start;
	  }
	  .chat {
		  width: 75vw;
		  margin: 10vw;
	  }
  }
  
 


 

